{%extends "index.html"%}

{%block content%}

<h2>The list of books by author {{ author }}</h2>

    <table>
        <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Publication Date</th>
        </thead>
    {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.year }}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <a href ="/authors/delete/{{author_id}}"><input type="submit" value="Delate the author"></a>
    <br><br>


{%endblock%}